---
import Layout from '../layouts/Layout.astro';
---

<Layout title="richyuh">
  <center>
    <h1>richyuh</h1>
    X: <a href="https://x.com/richyuh0" target="_blank">@richyuh0</a><br /><br />
    LinkedIn: <a href="https://www.linkedin.com/in/richard-yuh-87052a112/" target="_blank">Richard Yuh</a><br /><br />
    Instagram: <a href="https://www.instagram.com/rich_yuh/" target="_blank">@rich_yuh</a><br /><br />
    Github: <a href="https://github.com/richyuh" target="_blank">richyuh</a><br /><br />
    Email: <a href="mailto:richardyuh1@gmail.com" target="_blank">richardyuh1@gmail.com</a><br /><br />
  </center>
</Layout>

